body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.away-score {
    background: black;
    max-width: 50px;
}

.home-score {
    background: black;
    max-width: 50px;
}

/* FIGMA FILE --- https://www.figma.com/file/YC48MCx4frBFtYoz6rNJE6/Basketball-Scoreboard?type=design&t=A31zPs7o3H3Xg12D-6  */