body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.away-score {
    background: black;
    max-width: 50px;
}

.home-score {
    background: black;
    max-width: 50px;
}